.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;

  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;

  display: flex;
  flex-direction: column;

  padding: 30px 80px 40px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  left: -50px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 8px 0 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.header__title {
  max-width: 709px;
  margin-top: 183px;
  margin-bottom: 0;

  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin-top: 28px;
  margin-bottom: 0;

  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.header__paragraph {
  font-weight: 500;
  color: #838383;
  margin: 0;
}

.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;

  display: flex;
  flex-direction: column;

  padding: 100px 80px 215px;
  box-sizing: border-box;
}

.recipes__title {
  max-width: 580px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  margin: 0;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 0;
}

.recipes__videos {
  display: flex;
  column-gap: 40px;

  margin-top: 80px;
  margin-bottom: 0;

  align-self: center;
}

.recipes__video-caption {
  margin-top: 24px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 100px 0 120px;
  box-sizing: border-box;
}

.reservation__title {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin: 0 auto 80px;
}

.reservation__form {
  width: 100%;
  max-width: 385px;
  margin: 0 auto;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form__label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #838383;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  height: 60px;
  width: 100%;

  padding: 15px 20px;
}

.form__button {
  border-radius: 4px;
  border: none;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  height: 60px;
  width: 100%;

  background-color: #2f80ed;
  color: #ffffff;

  margin-top: 32px;
}

.form__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.form__label_type_checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
